[Unit]
Description=Database listener service

[Service]
ExecStart=/home/jordan/projects/IT490-Project/dbRabbitMQServer.php
Restart=always

[Install]
WantedBy=multi-user.target
