[Unit]
Description=DeploymentListener service

[Service]
ExecStart=/usr/local/deployment/deploymentListener.php
Restart=always

[Install]
WantedBy=multi-user.target
