@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<br />
<br />
<br />
<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Lib Lib</h1>
        <p>A fun, casual game in which players lib random quotes for points.</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Play" role="button">Start Playing</a>
        </p>
    </div>
</div>