@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lib Lib</h1>
    <p>A fun, social game in which friends lib quotes c.</p>
</div>
