@page
@model IT490_Project_Site.Pages.PlayModel
@{
}



<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-2">Choose a game mode!</h1>
        <div>
            <h2 class="display-6">Mode 1</h2>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Play Game Mode 1</a>
        </div>
        <div>
            <h2 class="display-6">Mode 3</h2>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Play Game Mode 2</a>
        <div>
            <h2 class="display-6">Mode 3</h2>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Play Game Mode 3</a>
        </div>
    </div>
</div>