@page
@model IT490_Project_Site.Pages.PlayModel
@{
}

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-2">Choose a game mode!</h1>
        <div>
            <h2 class="display-6">Mode 1</h2>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <form method="get" asp-controller="PlayModeController" asp-action="OnMode1Click">
            <input class="btn btn-primary btn-lg" type="submit" value="Play Game Mode 1" action="OnMode1Click"/>

            </form>
        </div>
    </div>
</div>